@model ProductViewModel
<h1>Add Product</h1>
<hr />
<h1>  Products  </h1>
<br />
<hr />
<form method="post">
    <div>
        <label> Product Name </label>
        <input type="text" name="Name" /><br /><br />
    </div>
    <div>
        <label> Product Price  </label>
        <input type="text" name="price" /> <br /> <br />
    </div>
    <div>
        <label> Quantity </label>
        <input type="text" name="Qantity" /> <br /> <br />
    </div>      
</form>
